doctype html
html(lang="en")
  head
    title Siteswap Visualizer
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    style
      include style.css
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    script(src="https://d3js.org/d3.v3.min.js" charset="utf-8")
  body
    .container
      h4 Siteswap Visualizer
      h6 See the 
        a(href="http://jbuckland.com/juggling-graph-doc/")
          span explanation.
      .row
        .col.s12.m6
          input(id="sequence",type="text",placeholder="45[15]41")
        .col.s12.m6
          p Enter a valid siteswap. A good one to try is <em>45[15]41</em>.
      .row
        .col.s12
          svg.stage
  script(src = 'graph.js')
  script(type='text/javascript').
    window.onload = function(){
      $('#sequence').focus();
      $('#sequence').keyup(function(){
        render( $('#sequence').val() );
      });
      $('#sequence').val('45[15]41');
    }
